<template>
    <v-container id="panels" fluid tag="section" >
        
        <pdf
			src="http://127.0.0.1:3000/qrcode/download-pdf/2475dc7f-7d58-43bd-b325-7a1a278d2e17"
            style="display: inline-block; width: 100%"
		></pdf>
        <!-- <v-row>
            <v-col class="mx-auto" cols="12" md="2" offset-md="3" >
                code: {{ code }}
            </v-col>
            <v-col class="mx-auto" cols="12" md="2" >
                name: {{ name }}
            </v-col>
            <v-col class="mx-auto" cols="12" md="2" >
                amount: {{ amount }}
            </v-col>
        </v-row>
        <v-row>
            <v-col class="mx-auto" cols="12" md="2" offset-md="3" >
                create date: {{ convertJSONDateToString(createDate) }}
            </v-col>
            <v-col class="mx-auto" cols="12" md="2" >
                create by: {{ createBy }}
            </v-col>
        </v-row>
        <v-row>
            <v-col class="mx-auto" cols="12" md="9" offset-md="3" >
                description: {{ description }}
            </v-col>
        </v-row>
        <v-row class="text-center" justify="center" >
            <v-col 
                v-for="(item, i) in qrcodeItemList" 
                :key="i"  
                class="mx-auto " 
                cols="12" 
                md="3" >
                <div class="display-1" style="margin-right: auto !important; margin-left: auto !important;text-align:center;">
                    <qrcode :value="item.id" :options="{ width: 250 }" style="border: 1px solid;" />
                    <br />
                    {{ item.code }}
                </div>
            </v-col>
        </v-row> -->
    </v-container>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    import pdf from 'vue-pdf'

    export default {
        name: 'QRCodePrinting',

        components: {
            pdf
        },
        data: () => ({
            code: null,
            name: null, 
            amount: null, 
            description: null, 
            createDate: null,
            createBy: null,
            src: null
        }),
        async mounted() {
            await this.getQRCodeSetById()
        },
        computed: {
            ...mapState('qrcode', [ 'qrcodeItemList' ]),
        },
        methods: {
            async getQRCodeSetById() {
                if (this.$route.params.id) {
                    this.amountDisabled = true
                    const response = await this.$store.dispatch('qrcode/DOWNLOAD_PDF', this.$route.params.id)
                    // console.log('golf', response)
                    this.src = response
                    // const { code, name, amount, description, create_date, create_by } = this.$store.state.qrcode.qrcodeSet
                    // this.code = code
                    // this.name = name
                    // this.amount = amount
                    // this.description = description
                    // this.createDate = create_date
                    // this.createBy = create_by
                }
            },
            print() {
                // Pass the element id here
                this.$htmlToPaper('panels')
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            }
        }
    }
</script>
