<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
         <% for(var i=0; i < parent.items.length; i++) { %>
            <div style="margin: 0px;height: 1606px;page-break-after: always;position: relative;">
                <header class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-3" >
                                code: <%= parent.code %>
                            </div>
                            <div class="col-3">
                                name: <%= parent.name %>
                            </div>
                            <div class="col-3">
                                amount: <%= parent.amount %>
                            </div>
                            <div class="col-3">
                                date: <%= convertJSONDateToString(parent.create_date) %>
                            </div>
                        </div>
                    </div>
                </header>
                <% for(var j = 0; j < parent.items[i].length; j++) { %>
                    <div class="row" style="min-height: 33.333%;">
                        <% for(var k = 0; k < parent.items[i][j].length; k++) { %>
                            <% if (j === 0) { %> 
                                <% if (k === 0) { %> 
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 55%;left: 51.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 55%;left: 51.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 55%;left: 51.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 67%;left: 48%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } else { %>
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 55%;left: 50.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 55%;left: 50.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 55%;left: 50.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 67%;left: 47%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } %>
                            <% } else if (j === 1) { %>
                                <% if (k === 0) { %> 
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 56.5%;left: 51.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 56.5%;left: 51.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 56.5%;left: 51.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 68.5%;left: 48%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } else { %>
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 56.5%;left: 50.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 56.5%;left: 50.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 56.5%;left: 50.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 68.5%;left: 47%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } %>
                            <% } else if (j === 2) { %>
                                <% if (k === 0) { %> 
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 57.5%;left: 51.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 57.5%;left: 51.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 57.5%;left: 51.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 69.5%;left: 48%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } else { %>
                                    <div class="col-6" style="text-align: center;position: relative;">
                                        <img src="<%= backgroundImage %>" style="position: absolute;top: 57.5%;left: 50.5%;transform: translate(-50%, -50%);width: 319px;height: 319px;" >
                                        <img src="<%= parent.items[i][j][k].qrcode %>" style="position: absolute;top: 57.5%;left: 50.5%;transform: translate(-50%, -50%);width: 138px;">
                                        <img src="<%= logoImage %>" style="position: absolute;top: 57.5%;left: 50.5%;transform: translate(-50%, -50%);width: 30px;">
                                        <div style="position: absolute;top: 69.5%;left: 47%;transform: translate(-50%, -50%);width: 35px;font-size: 9px;text-align: center;"><%= parent.items[i][j][k].code %></div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>

                <div style="position: absolute;bottom: 25px;width: 100%;text-align: center;" >page <%= (i + 1) + '/' + parent.items.length %></div> 
            </div> 
         <% } %>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js" crossorigin="anonymous"></script> -->
    </body>
</html>


<style>
    
    body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
    .page-header {
        background-color: #FFFFFF;
        color: #000000;
        position: absolute;
        margin-top: 0;
        width: 100%;
        text-align: left;
        padding: 4% 0;
    }
</style>